---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import AboutContent from "@/components/AboutContent.tsx";
---

<Layout title="About">
  <section className="py-20 relative overflow-hidden">
    <Container>
      <AboutContent client:load />
    </Container>
  </section>
</Layout>