---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import ContactContent from "@/components/ContactContent.tsx";
---

<Layout title="Contact">
  <section className="py-20 relative overflow-hidden">
    <Container>
      <ContactContent client:load />
    </Container>
  </section>
</Layout>
