---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import ExperienceContent from "@/components/ExperienceContent.tsx";
---

<Layout title="Experience">
  <section className="py-20 relative overflow-hidden">
    <Container>
      <ExperienceContent client:load />
    </Container>
  </section>
</Layout>
