---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import ProjectsContent from "@/components/ProjectsContent.tsx";
---

<Layout title="Projects">
  <section className="py-20 relative overflow-hidden">
    <Container>
      <ProjectsContent client:load />
    </Container>
  </section>
</Layout>
