---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import SkillsContent from "@/components/SkillsContent.tsx";
---

<Layout title="Skills">
  <section className="py-20 relative overflow-hidden">
    <Container>
      <SkillsContent client:load />
    </Container>
  </section>
</Layout>
